.service-details-container {
    background-color: #fff9e6;
    border: 1px solid #ffe3b3;
    color: #856404;
  }
  
  .service-details-container h2 {
    color: #ffc107;
  }
  
  .service-details-container ul li:hover {
    color: #ffc107;
  }
  