.App {
  text-align: center;
  /* background-color:  rgb(204, 199, 199)  !important; */
}
:root {
  --main-red: #FF4C4C; /* Main red */
  --main-blue: #009FFD; /* Main blue */
  --main-teal: #55DDE0; /* Main teal */
  --main-light-blue: #3AB0FF; /* Main light blue */
  --background-light: #f4f4f4; /* Background light color */
  --text-dark: #333; /* Dark text color */
  --hover-light: #cfcfcf; /* Hover light color */
  --button-gray: #d4d4d4; /* Button gray */
  --button-hover-gray: #ccc; /* Button hover gray */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
